/* can't get the background to NOT overflow past the footer */
body {
    font-family: Arial, 'Helvetic Neue', Helvetica, sans-serif;
    background: url("gravel.png");
    color: #777777;
}

header {
    height: 80px;
    background-color: white;
    border-bottom: 2px solid #777777;
}

h2 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#name {
    padding: 20px 20px 20px 20px;
    margin: 0;
}

a {
    color: #777777;
    border-right: 1px solid #dddddd;
}

a:last-child {
    border-right: none;
}

a:hover {
    color: #4aaaa5;
}

nav {
    height: 78px;
    width: 960px;
    margin: 0 auto;
}

p {
    line-height: 1.25em;
 }


#main {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 0px 0px 20px 5px;
    margin: 20px auto;
    width: 920px;
}

#content {
    position: relative;
    top: 10px;
}
.row {
    padding: 0 15px;
}

.main-header {
    background-color: #ffffff;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    padding: 15px 0 0 0;
    width: 100%;
}
/* my picture */
#me {
    float: left;
    margin-right: 20px;
    overflow: auto;
    margin-bottom: 10px;
}

.form-group, textarea {
    width: 100%;
    padding: 0 0 0 15px;
}

#submit-button {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    margin: 0 15px;
    border: 0;
}

.port-img {
 

}


/*portfolio page Sample text boxes */
h3 {
    display: inline;
    color: white;
    background-color: #4aaaa5;
    float: left;
    padding: 10px 20px;
    width: 400px;
    text-align: center;
    position: relative;
    top: -70px;
}

footer {
    background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    color: white;
    font-size: 60%;
    text-align: center;
    padding: 10px 0 1px 0;
}

